<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124242714929-m2usemd9it18k93o7sdi622rdahvk77l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124242714929-m2usemd9it18k93o7sdi622rdahvk77l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124242714929-s63cbculo37na57jnhl9nfbh8ejjf05k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5fVaWeRDOy7Cli-ZtP82h10AKlxDqO98</string>
	<key>GCM_SENDER_ID</key>
	<string>124242714929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gym</string>
	<key>PROJECT_ID</key>
	<string>gymapp-c3e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-c3e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124242714929:ios:47a262ff3bac82259b9010</string>
</dict>
</plist>